In [1]:
#1: Create empty set ‘Engineers’and‘Managers’.
Engineers = set()
Managers = set()

In [2]:
#2:  Using input method add elements in ‘Engineers’and‘Managers’:
#Engineers={'Jane', 'John', 'Janice', 'Jack'}
#Managers={'Jane', 'Jack', 'Susan', 'Zack'}

Engineers = {'Jane', 'John', 'Janice', 'Jack'}
Managers = {'Jane', 'Jack', 'Susan', 'Zack'}
print(Engineers)
print(Managers)

{'Jack', 'Janice', 'Jane', 'John'}
{'Susan', 'Jack', 'Zack', 'Jane'}

In [6]:
#3: Display all engineers in this format : “NameofEngineeris---“ Jane

for engineer in Engineers:
    print(f'{engineer} is an Engineer')

print('\n')
for manager in Managers:
    print(f'{manager} is a Manager')

Jack is an Engineer
Janice is an Engineer
Jane is an Engineer
John is an Engineer


Susan is a Manager
Jack is a Manager
Zack is a Manager
Jane is a Manager

In [7]:
#4:  Copy all managers and construct a tuple myManagers=('Jane', 'Jack', 'Susan', 'Zack')
myManagers = tuple(Managers)
print(myManagers)

('Susan', 'Jack', 'Zack', 'Jane')

In [8]:
#5:  Copy all engineers and construct a list myEngineers={'Jane', 'John', 'Janice', 'Jack'}
myEngineers = list(Engineers)
print(myEngineers)

['Jack', 'Janice', 'Jane', 'John']

In [9]:
#6:  Add new manager ‘Jenifer’
Managers.add('Jenifer')
print(Managers)

{'Susan', 'Zack', 'Jack', 'Jenifer', 'Jane'}

In [10]:
#7:  Create a third set Engineer_Manager by merging both Engineers and Managers sets.
Engineer_Manager = Engineers.union(Managers)
print(Engineer_Manager)

{'Susan', 'Jenifer', 'Zack', 'Jack', 'Janice', 'John', 'Jane'}

In [17]:
#8:  Display the name of engineers who are not managers
for engineer in Engineers:
    if engineer not in Managers:
        print(f'{engineer} is an Engineer but not a Manager')

Janice is an Engineer but not a Manager
John is an Engineer but not a Manager

In [28]:
#9: Display the name of engineers who also serving as managers.
for engineer in Engineers:
    if engineer in Managers:
        print(f'{engineer} is an Engineer and a Manager')

Jack is an Engineer and a Manager
Jane is an Engineer and a Manager

In [27]:
#10: Display the name of person who is either engineer or manager only but not performing both jobs.
for person in Engineer_Manager:
    if person in Engineers and person in Managers:
        print(f'{person} is an Engineer and a Manager')
    elif person in Engineers and person not in Managers:
        print(f'{person} is an Engineer but not a Manager')

Jack is an Engineer and a Manager
Janice is an Engineer but not a Manager
John is an Engineer but not a Manager
Jane is an Engineer and a Manager